

*{
    margin: 0%;
    padding: 0%;
        font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
/* navbar css */
#navBlock {
        display: flex;
        height: 62px;
        /* border: 1px solid black; */
        box-shadow: 0px 10px 10px -15px #111;
        overflow: hidden;  
        background-color: white;
    }

    .sticky {
           position: fixed;
            top: 0;
            width: 100%;
           }

    #logo {
        justify-content: left;
        align-self: center;
        margin: 18px;
        margin-right: 10px;
    }

    #text {
        font-family: 'BrandonTextWeb-Regular';
        display: flex;
        font-size: 25px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }

    #cultsport {
        margin-left: 600px;
        margin-top: 10px;
        justify-content: center;
        align-self: center;
        color: red;
        font-size: 14px;
        font-weight: bold;
    }

    #navitems {
        display: flex;
        margin-left: 480px;
        justify-content: space-around;
        justify-content: center;
        align-content: center;
    }

    #navitems div {
        justify-content: center;
        align-self: center;
        margin-left: 15px;
    }

    #profile {
        align-self: center;
        width: auto;
        height: 65%;
        margin-left: 15px;
        margin-right: 0px;
    }

    #cart {
        align-self: center;
        width: auto;
        height: 45%;
        margin-left: 20px;
    }

    #arrow {
        align-self: center;
        width: auto;
        height: 20%;
        margin-left: 5px;
    }
    .posterDiv{
        margin: auto;
    }
    #posture {
        height: 300px;
        width: 100%;  
    }
    #posture:hover{
        cursor: pointer;
    }

    #loccart {
        display: flex;
        align-self: center;
        margin: 200px;
        width: 400px;
    }

    #categories {
        font-size: 19px;
        color: rgb(102, 99, 99);
        margin-left: 183px;
        margin-top: 28px;
    }

    #itemTypes {
        display: flex;
        justify-content: space-between;
        width: 77%;
        margin: auto;
        
        height: 187px;
        margin-top: 13px;
        margin-bottom: 15px;
    }

    #men,
    #equipment,
    #women {
        width: 380px;
        height: 187px;
        border-radius: 20px;
    }
    #men:hover,#equipment:hover,#women:hover{
        cursor: pointer;
    }

    /* container div css */

    #cointainer{
        display: grid;
        grid-template-columns: repeat(3,33%);
        
    }

    #cointainer>div>img{
        width: 95%;
    }

    #details{
        /* border: 1px solid black; */
        padding: 10px;
    }
    #details>div>span{
        margin: 5px;
        font-size: 20px;
        font-weight: bold;
    }
    #cprice{
        text-decoration: line-through;
    }
    #details>div>button{
        background-color: rgb(245,166,35);
        color: white;
        width: 70px;
        height: 35px;
        text-decoration: none;
        border: none;
        font-size: 16px;
    }
    #details>p{
        margin-top: 10px;
        color: rgb(142,138,138);
        font-weight: lighter;
    }
    #details>button{
        background-color: rgb(227,226,252);
        border: none;
        width: 130px;
        height: 25px;
        border-radius: 5px;
        color: rgb(115,108,240);
    }
    #size{
        margin-top: 10px;
    }
    #size>span{
        font-size: 12px !important;
        font-weight: 200 !important;

    }
    #sizeAll{
        display: flex;
    }
    #sizeAll>div{
        margin: 10px 20px;
        font-weight: lighter;
    }
    #button{
        width: 100%;
        margin: auto;
    }
    #button>button{
        width: 45% !important;
        margin: auto;
        background-color: rgb(248,65,66) !important;
        border-radius: 20px !important;
        height: 40px !important;
    }
    #button>button:hover{
        cursor: pointer;
    }
    #pDetail{
        margin-top: 60px;
        color: rgb(89,89,89);
    }
    







    /* footer css */
#footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 320px;
}
#footer>div{
    width: 80%;
    display: flex;
    margin: auto;
}
#footer1{
 width: 35%;
 height: 220px;
}
#footer2{
 width: 15%;
 height: 220px;
}
#footer3{
 width: 25%;
 height: 220px;
}
#footer4{
 width: 25%;
 height: 220px;
}
#footer1>img{
    width: 35%;
    margin-top: 50px;
}
#footer1>p{
    color: rgb(162,162,162);
    margin-top: 20px;
}
#footer2>ul{
    margin-top: 50px;
    text-align: right;
    list-style: none;
}
#footer2 ul>li{
    margin-top: 15px;
    margin-bottom: 15px;
}
#footer3>ul{
    margin-top: 50px;
    text-align: right;
    list-style: none;
}
#footer3 ul>li{
    margin-top: 15px;
    margin-bottom: 15px;
}
#footer4{
    text-align: right;
}
#footer4>img{
    margin-top: 30px;
}
#footer>img+img{
    margin-top: 20px;
}
#footerEnd{
    padding-top: 40px;
}
#contact{
    display: flex;
    margin-right: 200px;
}
#contact>div{
    padding: 15px;
    font-size: 14px;
    color: rgb(162,162,162);
}

#contact div:hover{
    cursor: pointer;
    color: white;
}
#icon{
    display: flex;
    text-align: right;
    margin-left: 270px;
}
#icon>div{
    padding: 15px;
}