
*{
    margin: 0%;
    padding: 0%;
        font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#navBlock {
        display: flex;
        height: 62px;
        /* border: 1px solid black; */
        box-shadow: 0px 10px 10px -15px #111;
        overflow: hidden;  
        background-color: white;
    }
       
      .sticky {
           position: fixed;
            top: 0;
            width: 100%;
           }

    #logo {
        justify-content: left;
        align-self: center;
        margin: 18px;
        margin-right: 10px;
    }

    #text {
        font-family: 'BrandonTextWeb-Regular';
        display: flex;
        font-size: 25px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }

    #cultsport {
        margin-left: 600px;
        margin-top: 10px;
        justify-content: center;
        align-self: center;
        color: red;
        font-size: 14px;
        font-weight: bold;
    }

    #navitems {
        display: flex;
        margin-left: 480px;
        justify-content: space-around;
        justify-content: center;
        align-content: center;
    }

    #navitems div {
        justify-content: center;
        align-self: center;
        margin-left: 15px;
    }

    #profile {
        align-self: center;
        width: auto;
        height: 65%;
        margin-left: 15px;
        margin-right: 0px;
    }

    #cart {
        align-self: center;
        width: auto;
        height: 45%;
        margin-left: 20px;
    }

    #arrow {
        align-self: center;
        width: auto;
        height: 20%;
        margin-left: 5px;
    }
    .posterDiv{
        margin: auto;
    }
    #posture {
        height: 300px;
        width: 100%;  
    }
    #posture:hover{
        cursor: pointer;
    }
    #profile:hover,#cart:hover,#arrow:hover,#location:hover,#logo:hover{
        cursor: pointer;
    }

    #loccart {
        display: flex;
        align-self: center;
        margin: 200px;
        width: 400px;
    }

    #categories {
        font-size: 19px;
        color: rgb(102, 99, 99);
        margin-left: 183px;
        margin-top: 28px;
    }

    #itemTypes {
        display: flex;
        justify-content: space-between;
        width: 77%;
        margin: auto;
        
        height: 187px;
        margin-top: 13px;
        margin-bottom: 15px;
    }

    #men,
    #equipment,
    #women {
        width: 380px;
        height: 187px;
        border-radius: 20px;
    }
    #men:hover,#equipment:hover,#women:hover{
        cursor: pointer;
    }

    #healthHome{
        width: 100%;
    }
    #slidShow>img{
        width: 100%;
    }
    #slidShow>img:hover{
        cursor: pointer;
    }

    #specilistH2{
        margin: 50px;
        margin-left: 150px;
        margin-bottom: 0%;
    }
    #specilistH4{
        margin-top: 5px;
        margin-bottom: 50px;
        margin-left: 150px;
        color: rgb(144,142,142);
        font-weight: 100;
    }

    #specilist{
        display: grid;
        width: 80%;
        margin: auto;
        grid-template-columns: repeat(5,20%);
        row-gap: 50px;
    }

    

    #specilist >div>img{
        width: 90%;
        border-radius: 10px;
    }
    #specilist >div>img:hover{
        cursor: pointer;
        position:relative;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        width:210px;
        height:auto;
        display:block;
        z-index:999;
    }

    /* before footer css */
.bottom{
    width: 100%;
    background-color: rgb(242,244,248);
}
.bottom >h1{
    margin-left: 140px;
    padding-top: 30px;
}
.bottom >h4{
    margin-left: 140px;
}
.bottom >div{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.bottom>div li{
    padding: 20px;
    font-size: 20px;
    padding-left: 10px;
    color: rgb(106,106,106);
}
.bottom>div >ul{
    margin-left: 10px;
}
.bottom div ul >hr{
    width: 90%;
    border: 0;
    height: .5px;
    background: #000;
    opacity: 0.2;
}

#aboubFooter>h1{
    font-size: 70px;
    margin-top: 40px;
    margin-left: 120px;
    color: rgb(110,110,110);
}
#aboubFooter>h2{
    font-size: 60px;
    margin-left: 120px;
    color: rgb(204,204,204);
}
#aboubFooter>h3{
    font-size: 40px;
    margin-left: 120px;
    margin-bottom: 40px;
    color: rgb(204,204,204);
}

/* footer css */
    #footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 320px;
}
#footer>div{
    width: 80%;
    display: flex;
    margin: auto;
}
#footer1{
 width: 35%;
 height: 220px;
}
#footer2{
 width: 15%;
 height: 220px;
}
#footer3{
 width: 25%;
 height: 220px;
}
#footer4{
 width: 25%;
 height: 220px;
}
#footer1>img{
    width: 35%;
    margin-top: 50px;
}
#footer1>p{
    color: rgb(162,162,162);
    margin-top: 20px;
}
#footer2>ul{
    margin-top: 50px;
    text-align: right;
    list-style: none;
}
#footer2 ul>li{
    margin-top: 15px;
    margin-bottom: 15px;
}
#footer3>ul{
    margin-top: 50px;
    text-align: right;
    list-style: none;
}
#footer3 ul>li{
    margin-top: 15px;
    margin-bottom: 15px;
}
#footer4{
    text-align: right;
}
#footer4>img{
    margin-top: 30px;
}
#footer>img+img{
    margin-top: 20px;
}
#footerEnd{
    padding-top: 40px;
}
#contact{
    display: flex;
    margin-right: 200px;
}
#contact>div{
    padding: 15px;
    font-size: 14px;
    color: rgb(162,162,162);
}

#contact div:hover{
    cursor: pointer;
    color: white;
}
#icon{
    display: flex;
    text-align: right;
    margin-left: 270px;
}
#icon>div{
    padding: 15px;
}